---
// src/pages/blog/category/[category]/index.astro
// 重定向到第一页

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  // 获取博客文章集合
  const posts = await getCollection('blog');
  
  // 提取所有唯一的分类
  const categories = [...new Set(posts.map(post => {
    return post.data.category || 'uncategorized';
  }))];
  
  // 如果没有任何分类，返回一个默认值
  if (categories.length === 0) {
    return [{ params: { category: 'all' } }];
  }
  
  return categories.map(category => ({
    params: { category }
  }));
}

const { category } = Astro.params;
const url = `/blog/category/${category}/1`;
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${url}`} />
  </head>
  <body>
    <p>Redirecting to <a href={url}>page 1</a>...</p>
  </body>
</html>